.carousel {
    height: 450px; /* Set the desired height here */
  }

  .carousel-inner {
    height: 100%;
  }

  .carousel-item {
    height: 100%;
  }

  .carousel-item img {
    object-fit: cover;
    height: 100%;
  }